 
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
   
  }


  .page-text{
    /* margin-top: 3rem; */
    font-weight: bold;
    font-size: 3rem;
}



.sub-text {
    font-size: 2.5rem;
}

.content{
    font-size: 1.3rem;
    margin-top: 1rem;
}


.app-button{
    display: flex;
}

/*.header-img2 img {
    height: 90%;
    width: 90%;
} */
.header-img1, .header-img2 {
    display: flex;
    justify-content: center;
    align-items: center;
}




@media only screen and (min-width:320px) and (max-width:480px){
     .sub-text{
        text-align:center;
        font-size: 1.3rem;
        margin-top: 1rem;
       
     }

     
     
     .content{
        text-align:center;
        font-size: small;
     }
     
    .page-text {
        font-size: 2rem;
        margin-top: 2rem;
    }
     
   

    .app-button{
        align-items: center;
        justify-content: center;
       
    }
    .btn {
        font-size: small;
        height: 50%;
    }
    .header-img1 {
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .header-img2 {
        display: flex;
        justify-content: center;
        height: 100%;
    }
    
    
   
}

 
 @media only screen and (min-width:481px) and (max-width: 560px){
    
 
 }
 
 @media only screen and (min-width:561px) and (max-width:650px){
   
 
 }
 
 @media only screen and (min-width:651px) and (max-width: 1024px){
     
    
 }