::placeholder{
    font-size: small;
    color: #CDCDCD;
}


.form-group .form-control{
    width: 15rem;
}

.form-group .btn{
    width: 10rem;
}



@media only screen and (min-width:320px) and (max-width:480px){
  .section-main{
    align-items: center;
    justify-content: center;
  }
  .section-content{
    text-align: center;
  }
    .form{
    align-items: center;
    justify-content: center;
  }
    .form-group{
    display: flex;
    flex-direction: column;
   }
    
   .form-group .form-control{
    width: 15rem;
}
.form-group .btn{
    width: 15rem;
}
}

@media only screen and (min-width : 1200px) {
   .form-group {
    margin-top: 0.5rem;
   }
   .section-content{
    margin-top: 0.5rem;
   }
}