 
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }


  .page-text-heading{
    /* margin-top: 3rem; */
    font-weight: bold;
}

.home-text2 h2{
    font-size: 2rem;
    margin-top: 2rem;
    
}
.home-text h1{
    font-size: 2rem;
    margin-top: 2rem;
}

.content-text{
    font-size: 1rem;
    font-weight: 00;
    margin-top: 1rem;
}



.header-img-phone img {
    height: 70%;
}


@media only screen and (min-width:320px) and (max-width:480px){
     .home-text2 h2{
        text-align:center;
        font-size: 1.5rem;
        margin-top: 1rem;
       
     }

     .home-text h1{
        text-align:center;
        font-size: 1.5rem;
        margin-top: 1rem;
      
     }
     .content-text{
        text-align:center;
        font-size: small;
     }
     
    .page-text-heading {
        
        margin-top: 2rem;
    }
     
   

    
    .header-img-phone {
        display: flex;
        justify-content: center;
        height: 100%;
    }
   
    
    
   
}

 
 @media only screen and (min-width:481px) and (max-width: 560px){
    
 
 }
 
 @media only screen and (min-width:561px) and (max-width:650px){
   
 
 }
 
 @media only screen and (min-width:651px) and (max-width: 1024px){
     
    
 }